/* Styles */

// @import "less/fontawesome.less";
// @import "less/solid.less";

body{
    background-color: #E0E5EC;
}
h1 {
    text-align: center;
    font-size: 80px;
    /* color: rgb(163,177,198,0.6); */
    color: #a28089
}

/* Navbar */

#titleCanvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* font-size: 80px; */
  /* color: rgb(163,177,198,0.6); */
  color: #a28089
}
