/* Styles */

@import "less/fontawesome.less";
@import "less/solid.less";

body{
    background-color: #E0E5EC;
}
h1 {
    text-align: center;
    font-size: 80px;
    /* color: rgb(163,177,198,0.6); */
    color: #a28089
}


#modal-window-overview, #modal-window-seats, #modal-window-payment {
  display: none;
}


/* Navbar */

#titleCanvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* font-size: 80px; */
  /* color: rgb(163,177,198,0.6); */
  color: #a28089
}


/* Main Screen */

#posterTable {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    align-content: center;
    align-items: center;
}

.moviePoster {
    border-radius: 10px;
    width: 300px;
    height: 450px;
    /* Basic styling and alignment */
    margin-left: 50px;
    margin-bottom: 100px;
    display: block;
    float: left;
    justify-content: center;
    align-items: center;
    /* For Neumorphism Effect */
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    /* For Neumorphism Effect */
    transition: all 0.5s ease;
}
.moviePoster:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.moviePosterTitle {
    color: rgb(161, 168, 180);
    font-size: 30px;
    text-align: center;
}
.image {
    width: 250px;
    height: 300px;
}
.moviePosterImage {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-radius: 12px;
    width: 250px;
    height: auto;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* Modal ------*/

.modal-header {
  padding: 2px 16px;
  background-color: #6c838b;
  color: white;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
    padding: 2px 16px;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 6%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}



/* Seats Popup */

.seats-wrapper {
  width: 80%;
//   height: auto;
  padding: 16px;
  display: contents;
  float: left;
}

// Seats Prices
.seats-prices {
    display: block;
    float: left;
    width: 400px;
//   flex-grow: 0.5;
}
.price-table {
  width: 350px;
  overflow-x: auto;
  // min-height: 200px;
}
.price-table-data {
  padding: 10px;
  min-width: 6em;
}
.price-table-data:last-child {
  text-align: end;
}
#sum-line {
    margin: 5px;
    align-self: center;
    background-color: gray;
    height: 1px;
    width: 340px;
}
/* .price-table-sum {
  padding: 10px;
  width: 400px;
} */

// Seats Selector
.seats-selector {
    display: block;
    float: left;
    width: 500px;
    margin-right: 32px;
    margin-bottom: 16px;
}

#seatPlanTable {
//   flex-grow: 0.5;
  width: 100%;
  max-height: 300px;
  padding: 10px;
  display: block;
  float: left;
  overflow: auto;
}

.seat {
  margin: 5px;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid gray;
//   background-color:#E0E5EC;
//   border-radius: 10px;
//   box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
  cursor: pointer;
  vertical-align: bottom;
}
.seat-handicap{
    .seat();
    // white-space: nowrap;
    background-color: lightskyblue;
    // padding: 0px;
    // text-align: center;
    // vertical-align: bottom;
}
.seat-handicap:only-child {
    padding: 5px;
    color: white;
}
.seat-occupied {
  .seat();
  background-color: lightcoral;
}

.movieScreen {
  width: 100px;
  height: 10px;
  background-color: gray;
  margin-bottom: 10px;
}


/* Payment Popup */
#paypal-button-container {
  display: block;
  float: left;
}





/* Modal Footer ------*/
.modal-footer {
  width: 100%;
  min-width: 100px;
  padding: 2px 16px;
  background-color: #6c838b;
  color: white;
}
#btn-continue {
    float: right;
    bottom: 0px;
    clear: both;
    // border-radius: 10px;
    // background-color:#E0E5EC;
    // box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
}
#btn-back {
  float: left;
  bottom: 0px;
  clear: both;
}





/* Overview Window ------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #70655e; 
  border-radius: 10px;
}

.movie-description-right {
  width: 33%;
  padding: 10px;
  display: block;
  float: left;
}
.movie-description-center {
  width: 15%;
  display: block;
  float: left;
}
.movie-description-left {
  width: 40%;
  padding: 10px;
  display: block;
  float: left;
}

.movie-description-content-div {
  background-color:rgb(223, 223, 223);
  font-size: 22px;
  width: auto;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 11px 14px 26px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 11px 14px 26px 2px rgba(0,0,0,0.24);
  box-shadow: 11px 14px 26px 2px rgba(0,0,0,0.24);
}
.movie-description-headings {
  color: rgb(51, 52, 54);
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-description-content {
  color: rgb(104, 106, 109);
  margin-top: 50px;
  font-size: 20px;
}

.movie-fsk {
  margin-top: 30px;
}
.movie-length {
  margin-top: 30px;
}
.movie-actors {
  margin-top: 30px;
}
.movie-regisseurs {
  margin-top: 30px;
}
.movie-genre {
  margin-top: 30px;
}
i {
  color:rgb(96, 98, 100);
}

