/* Styles */
body{
    background-color: #E0E5EC;
    background-image: url(static/6.jpg);
    margin: 10px auto;
    width: 100%;
    clear: both;

}
h1 {
    text-align: center;
    font-size: 80px;
    /* color: rgb(163,177,198,0.6); */
    color: #7f726a
}

#posterTable {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    align-content: center;
    align-items: center;
}

.moviePoster {
    border-radius: 10px;
    width: 300px;
    height: 450px;
    /* Basic styling and alignment */
    margin-left: 50px;
    margin-bottom: 100px;
    display: block;
    float: left;
    justify-content: center;
    align-items: center;
    /* For Neumorphism Effect */
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    /* For Neumorphism Effect */
    transition: all 0.5s ease;
}
.moviePoster:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.moviePosterTitle {
    color: rgb(161, 168, 180);
    font-size: 30px;
    text-align: center;
}

.image {
    width: 250px;
    height: 300px;
}

/* Movie Image Flip Cards */
.moviePosterImage {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-radius: 12px;
    width: 250px;
    height: auto;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#btn-back, #btn-continue {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #7f726a;
  color: whitesmoke;
  border: solid 0;
  -webkit-box-shadow: 11px 14px 26px 4px rgba(0,0,0,0.24);
  -moz-box-shadow: 11px 14px 26px 4px rgba(0,0,0,0.24);
  box-shadow: 11px 14px 26px 4px rgba(0,0,0,0.24);
}

#btn-back:hover, #btn-continue:hover {
  transition: ease-in-out 0.65s;
  color: #7f726a;
  background-color: whitesmoke;
  cursor: pointer;
}

.flip-card {
  background-color: transparent;
  width: 450px;
  height: 550px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #E0E5EC;
  color: white;
  transform: rotateY(180deg);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 6%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: #70655e;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close-booking{
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    transition: ease-in-out 0.8s;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #6c838b;
    color: white;
  }
  
  .modal-body {
      padding: 2px 16px;
      height: 80%;
      display: flex;
      justify-content: space-between;
}

.movie-description-right {
  width: 33%;
  padding: 10px;
  display: block;
  float: left;
}

.movie-description-center {
  width: 15%;
  display: block;
  float: left;
}

.movie-description-left {
  width: 40%;
  padding: 10px;
  display: block;
  float: left;
}

.movie-description-content-div {
  background-color:rgb(223, 223, 223);
  font-size: 22px;
  width: auto;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 11px 14px 26px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 11px 14px 26px 2px rgba(0,0,0,0.24);
  box-shadow: 11px 14px 26px 2px rgba(0,0,0,0.24);
}

.movie-description-headings {
  color: rgb(51, 52, 54);
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-description-content {
  color: rgb(104, 106, 109);
  margin-top: 50px;
  font-size: 20px;
}

.movie-fsk {
  margin-top: 30px;
}

.movie-length {
  margin-top: 30px;
}

.movie-actors {
  margin-top: 30px;
}

.movie-regisseurs {
  margin-top: 30px;
}

.movie-genre {
  margin-top: 30px;
}

i {
  color:rgb(96, 98, 100);
}
/* 
.modal-footer {
    padding: 2px 16px;
    background-color: #6c838b;
    color: white;
  } */

  .seat {
    width: 30px;
    height: 30px;
    background-color: lightgreen;
    cursor: pointer;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #70655e; 
  border-radius: 10px;
}

/*---------------MEIN HEADER------------*/

.mainheader {
  left: 0;
  right: 0;
  width: 80%;
}

.mainheader nav {
  background-color: #c0392b;
  /*background-width: 1250px;*/
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 0 auto;
  font-size: 90%;
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
  width: 100%;
}

a {
  text-decoration: none;
}

.mainheader nav ul{
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

.mainheader nav ul li{
  display: inline;
}

.mainheader, a:link, a:visited{
  color: white;
  padding: 10px 40px;
  display: inline-block;
  height: 20px;
}

.mainheader a:hover, .mainheader a:active{
  color: blue;
  background-color: #f55233; 
  text-shadow: none;
}

.footer{
  color: white;
}